//Round button edges
@mixin btn-rounded {
    border-radius: 50rem;
}

// Button styles
@mixin btn-primary {
    background-color: $primary;
    color: $light;
    &:hover {
        background-color: darken($primary, 10%);
    }
    &:focus {
        animation: btn-primary-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px lighten($primary, 15%);
        padding: 1rem 2.8rem;
        margin: 1.2rem;
    }
}

@mixin btn-secondary {
    background-color: $secondary;
    color: $light;
    &:hover {
        background-color: darken($secondary, 10%);
    }
    &:focus {
        animation: btn-secondary-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px lighten($secondary, 10%);
        padding: 1rem 2.8rem;
        margin: 1.2rem;
    }
}

@mixin btn-success {
    background-color: $success;
    color: $light;
    &:hover {
        background-color: darken($success, 10%);
    }
    &:focus {
        animation: btn-success-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px lighten($success, 15%);
        padding: 1rem 2.8rem;
        margin: 1.2rem;
    }
}

@mixin btn-danger {
    background-color: $danger;
    color: $light;
    &:hover {
        background-color: darken($danger, 10%);
    }
    &:focus {
        animation: btn-danger-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px lighten($danger, 15%);
        padding: 1rem 2.8rem;
        margin: 1.2rem;
    }
}

@mixin btn-warning {
    background-color: $warning;
    color: $light;
    &:hover {
        background-color: darken($warning, 10%);
    }
    &:focus {
        animation: btn-warning-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px lighten($warning, 15%);
        padding: 1rem 2.8rem;
        margin: 1.2rem;
    }
}

@mixin btn-info {
    background-color: $info;
    color: $light;
    &:hover {
        background-color: darken($info, 10%);
    }
    &:focus {
        animation: btn-info-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px lighten($info, 15%);
        padding: 1rem 2.8rem;
        margin: 1.2rem;
    }
}

@mixin btn-light {
    background-color: $light;
    color: $dark;
    &:hover {
        background-color: darken($light, 5%);
    }
    &:focus {
        animation: btn-light-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px darken($light, 10%);
        padding: 1rem 2.8rem;
        margin: 1.2rem;
    }
}

@mixin btn-dark {
    background-color: $dark;
    color: $light;
    &:hover {
        background-color: darken($dark, 10%);
    }
    &:focus {
        animation: btn-dark-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px lighten($dark, 15%);
        padding: 1rem 2.8rem;
        margin: 1.2rem;
    }
}

// Outline button styles
@mixin btn-outline {
    border: $secondary solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    &:hover {
        background-color: $secondary;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-primary-outline {
    @include btn-primary;
    border: $primary solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $primary;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-secondary-outline {
    @include btn-secondary;
    border: $secondary solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $secondary;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-success-outline {
    @include btn-success;
    border: $success solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $success;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-danger-outline {
    @include btn-danger;
    border: $danger solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $danger;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-warning-outline {
    @include btn-warning;
    border: $warning solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $warning;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-info-outline {
    @include btn-info;
    border: $info solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $info;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-light-outline {
    @include btn-light;
    border: $secondary solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: darken($light, 5%);
        color: $dark
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-dark-outline {
    @include btn-dark;
    border: $dark solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $dark;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

.btn {
    // Define default buttons
    transition: .2s;
    padding: 1.2rem 3rem;
    margin: 1rem;
    background-color: $light;
    color: $dark;
    text-decoration: none;
    border-radius: 0.4rem;
    border: none;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;

    backface-visibility: hidden; // Attempt to fix animation jitter

    &:hover {
        background-color: darken($light, 5%);
    }

    &:focus {
        animation: btn-default-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px darken($light, 15%);
        padding: 1rem 2.8rem;
        margin: 1.2rem;
    }

    &-rounded {
        @include btn-rounded;
    }

    &-outline {
        @include btn-outline;
        &-rounded {
            @include btn-rounded;
            @include btn-outline;
        }
    }

    // First button commented (same for the rest)
    &.btn-primary {
        @include btn-primary; // Standard button

        &-rounded {
            @include btn-primary; // Standard button
            @include btn-rounded; // Rounded edges
        }

        &-outline {
            @include btn-primary-outline; // Outline button
            &-rounded {
                @include btn-rounded; // Rounded edges
                @include btn-primary-outline; // Outline button
            }
        }
    }

    &.btn-secondary {
        @include btn-secondary;

        &-rounded {
            @include btn-secondary;
            @include btn-rounded;
        }

        &-outline {
            @include btn-secondary-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-secondary-outline;
            }
        }
    }

    &.btn-success {
        @include btn-success;

        &-rounded {
            @include btn-success;
            @include btn-rounded;
        }

        &-outline {
            @include btn-success-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-success-outline;
            }
        }
    }

    &.btn-danger {
        @include btn-danger;

        &-rounded {
            @include btn-danger;
            @include btn-rounded;
        }

        &-outline {
            @include btn-danger-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-danger-outline;
            }
        }
    }

    &.btn-warning {
        @include btn-warning;

        &-rounded {
            @include btn-warning;
            @include btn-rounded;
        }

        &-outline {
            @include btn-warning-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-warning-outline;
            }
        }
    }

    &.btn-info {
        @include btn-info;

        &-rounded {
            @include btn-info;
            @include btn-rounded;
        }

        &-outline {
            @include btn-info-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-info-outline;
            }
        }
    }

    &.btn-light {
        @include btn-light;

        &-rounded {
            @include btn-light;
            @include btn-rounded;
        }

        &-outline {
            @include btn-light-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-light-outline;
            }
        }
    }

    &.btn-dark {
        @include btn-dark;

        &-rounded {
            @include btn-dark;
            @include btn-rounded;
        }

        &-outline {
            @include btn-dark-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-dark-outline;
            }
        }
    }
}
