// Check default definition and see if some from the mixins page can be moved there again will cut down on lines.

.btn {
    // Define default buttons
    @include btn-std;
    @include btn-sm;
    transition: 0.2s;
    background-color: $light;
    color: $dark;
    text-decoration: none;
    border-radius: 0.4rem;
    border: none;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;

    backface-visibility: hidden; // Attempt to fix animation jitter

    &:hover {
        background-color: darken($light, 5%);
    }

    &:focus {
        animation: btn-default-focus $btn-press-timing linear;
        box-shadow: 0 0 0 3px darken($light, 15%);
        @include btn-std;
        @include btn-sm;
    }

    &-rounded {
        @include btn-rounded;
    }

    &-outline {
        @include btn-outline;
        &-rounded {
            @include btn-rounded;
            @include btn-outline;
        }
    }


    // First button commented (same for the rest)
    &.btn-primary {
        @include btn-primary; // Standard button

        &-rounded {
            @include btn-primary; // Standard button
            @include btn-rounded; // Rounded edges
        }

        &-outline {
            @include btn-primary-outline; // Outline button
            &-rounded {
                @include btn-rounded; // Rounded edges
                @include btn-primary-outline; // Outline button
            }
        }
    }

    &.btn-secondary {
        @include btn-secondary;

        &-rounded {
            @include btn-secondary;
            @include btn-rounded;
        }

        &-outline {
            @include btn-secondary-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-secondary-outline;
            }
        }
    }

    &.btn-success {
        @include btn-success;

        &-rounded {
            @include btn-success;
            @include btn-rounded;
        }

        &-outline {
            @include btn-success-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-success-outline;
            }
        }
    }

    &.btn-danger {
        @include btn-danger;

        &-rounded {
            @include btn-danger;
            @include btn-rounded;
        }

        &-outline {
            @include btn-danger-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-danger-outline;
            }
        }
    }

    &.btn-warning {
        @include btn-warning;

        &-rounded {
            @include btn-warning;
            @include btn-rounded;
        }

        &-outline {
            @include btn-warning-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-warning-outline;
            }
        }
    }

    &.btn-info {
        @include btn-info;

        &-rounded {
            @include btn-info;
            @include btn-rounded;
        }

        &-outline {
            @include btn-info-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-info-outline;
            }
        }
    }

    &.btn-light {
        @include btn-light;

        &-rounded {
            @include btn-light;
            @include btn-rounded;
        }

        &-outline {
            @include btn-light-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-light-outline;
            }
        }
    }

    &.btn-dark {
        @include btn-dark;

        &-rounded {
            @include btn-dark;
            @include btn-rounded;
        }

        &-outline {
            @include btn-dark-outline;
            &-rounded {
                @include btn-rounded;
                @include btn-dark-outline;
            }
        }
    }
}
