// For responsive tables to work you need to have min width on the th and td elements.
.table {
    box-sizing: border-box;
    margin: $table-std-margin;
    max-width: calc(100% - get-side($table-std-margin, left) - get-side($table-std-margin, right));
    width: 100%;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-spacing: 0; // Remove cell spacing
    border-collapse: collapse; // Prevent double border on cell touch
    font-size: $table-font-size;

    &.table-sm {
        th,
        td {
            padding: $table-sm-cell-padding;
        }
    }

    thead {
        border-bottom: $secondary solid 0.2rem;

        &.hd-dark {
            background-color: $dark;
            color: $light;
        }

        &.hd-light {
            background-color: $light;
            color: $dark;
        }
    }

    th,
    td {
        padding: $table-std-cell-padding;
        border-bottom: $secondary solid 0.1rem;
        text-align: left;
    }

    &.table-dark {
        background-color: $dark;
        color: $light;

        &.table-zebra {
            tr:nth-child(even) {
                background-color: lighten($dark, 10%);
            }
        }
    }

    &.table-zebra {
        tr:nth-child(even) {
            background-color: $light;
        }
    }

    &.table-border {
        th {
            border: $light solid 0.05rem;
            border-bottom: $light solid 0.05rem;
        }
        td {
            border: $light solid 0.05rem;
        }
    }

    &.table-borderless {
        thead,th, td {
            border: none;
        }
    }

    &.table-hover {
        tbody tr:hover {
            background-color: $secondary;
        }

        &.table-dark {
            tbody tr:hover {
                background-color: lighten($dark, 5%);
            }
        }
    }

    caption {
        padding: $caption-padding;
        padding-left: 0; // Remember to change this based on caption positon
        caption-side: bottom;
        text-align: left;
        font-style: italic;
        color: $secondary;
    }
}

// Colours
.table-primary {
    background-color: lighten($primary, 15%);
}
.table-secondary {
    background-color: lighten($secondary, 10%);
}
.table-success {
    background-color: lighten($success, 20%);
}
.table-danger {
    background-color: lighten($danger, 20%);
}
.table-warning {
    background-color: lighten($warning, 20%);
}
.table-info {
    background-color: lighten($info, 15%);
}
.table-light {
    background-color: $light;
}
.table-dark {
    background-color: $dark;
    color: $light;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;

    table {
        th,
        td {
            min-width: $cell-bp; // CHANGE TO A VARIABLE
        }
    }

    &-xs {
        @media only screen and (max-width: $bp-phones) {
            overflow-x: scroll;
        }
    }

    &-sm {
        @media only screen and (max-width: $bp-large-phones) {
            overflow-x: scroll;
        }
    }

    &-md {
        @media only screen and (max-width: $bp-tablets) {
            overflow-x: scroll;
        }
    }

    &-lg {
        @media only screen and (max-width: $bp-md) {
            overflow-x: scroll;
        }
    }

    &-xl {
        @media only screen and (max-width: $bp-lg) {
            overflow-x: scroll;
        }
    }
}
