// For responsive tables to work you need to have min width on the th and td elements.
.table {
    box-sizing: border-box;
    margin: 1.5rem;
    max-width: calc(100% - 3rem);
    width: 100%;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-spacing: 0; // Remove cell spacing
    border-collapse: collapse; // Prevent double border on cell touch
    font-size: 1.4rem;

    &.table-sm {
        th,
        td {
            padding: 0.5rem 1rem;
        }
    }

    thead {
        border-bottom: $secondary solid 0.2rem;

        &.hd-dark {
            background-color: $dark;
            color: $light;
        }

        &.hd-light {
            background-color: $light;
            color: $dark;
        }
    }

    th,
    td {
        padding: 1rem 2rem;
        border-bottom: $secondary solid 0.1rem;
        text-align: left;
    }

    &.table-dark {
        background-color: $dark;
        color: $light;

        &.table-zebra {
            tr:nth-child(even) {
                background-color: lighten($dark, 10%);
            }
        }
    }

    &.table-zebra {
        tr:nth-child(even) {
            background-color: $light;
        }
    }

    &.table-border {
        th {
            border: $light solid 0.05rem;
            border-bottom: $light solid 0.05rem;
        }
        td {
            border: $light solid 0.05rem;
        }
    }

    &.table-hover {
        tbody tr:hover {
            background-color: $secondary;
        }

        &.table-dark {
            tbody tr:hover {
                background-color: lighten($dark, 5%);
            }
        }
    }
}

.table-responsive {
    width: 100%;
    overflow-x: scroll;

    table {
        th,
        td {
            min-width: $cell-bp; // CHANGE TO A VARIABLE
        }
    }

    &-xs {
        @media only screen and (max-width: $bp-xs-max) {
            overflow-x: scroll;
        }
    }

    &-sm {
        @media only screen and (max-width: $bp-sm-min) {
            overflow-x: scroll;
        }
    }

    &-md {
        @media only screen and (max-width: $bp-md-min) {
            overflow-x: scroll;
        }
    }

    &-lg {
        @media only screen and (max-width: $bp-lg-min) {
            overflow-x: scroll;
        }
    }

    &-xl {
        @media only screen and (max-width: $bp-xl-min) {
            overflow-x: scroll;
        }
    }
}
