@mixin btn-outline {
    border: $secondary solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    &:hover {
        background-color: $secondary;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-primary-outline {
    @include btn-primary;
    border: $primary solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $primary;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-secondary-outline {
    @include btn-secondary;
    border: $secondary solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $secondary;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-success-outline {
    @include btn-success;
    border: $success solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $success;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-danger-outline {
    @include btn-danger;
    border: $danger solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $danger;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-warning-outline {
    @include btn-warning;
    border: $warning solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $warning;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-info-outline {
    @include btn-info;
    border: $info solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $info;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-light-outline {
    @include btn-light;
    border: $secondary solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: darken($light, 5%);
        color: $dark
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}

@mixin btn-dark-outline {
    @include btn-dark;
    border: $dark solid .1rem;
    background-color: transparent;
    padding: 1rem 2.7rem;
    margin: 1.1rem;
    color: $dark;
    &:hover {
        background-color: $dark;
        color: $light
    }
    &:focus {
        padding: 1rem 2.7rem;
        margin: 1.1rem;
    }
}