// Defines standard colours used throughout the framework
$white: #ffffff;
$black: #000000;

$primary: #087fff;
$secondary:#afb1b4;
$success: #5aa336;
$danger: #cf3419;
$warning: #e8ae25;
$info: #3aa2d3;
$light: #e9e9e9;
$dark: #212529;