// Defines standard colours used throughout the framework
$primary: #087fff;
$secondary:#889099;
$success: #5aa336;
$danger: #cf3419;
$warning: #e8ae25;
$info: #3aa2d3;
$light: #f7f7f7;
$dark: #212529;