// External Dependecies
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
    font-size: 0.625rem; // Equivalent to 10px with root font size 16px. (Allows code to be responsive to user defined font size)
    font-family: "Roboto", sans-serif;
}

h1,
.h1 {
    font-size: $text-h1-size;
    padding: $text-padding;
    font-weight: $text-head-weight;
}

h2,
.h2 {
    font-size: $text-h2-size;
    padding: $text-padding;
    font-weight: $text-head-weight;
}

h3,
.h3 {
    font-size: $text-h3-size;
    padding: $text-padding;
    font-weight: $text-head-weight;
}

h4,
.h4 {
    font-size: $text-h4-size;
    padding: $text-padding;
    font-weight: $text-head-weight;
}

h5,
.h5 {
    font-size: $text-h5-size;
    padding: $text-padding;
    font-weight: $text-head-weight;
}

h6,
.h6 {
    font-size: $text-h6-size;
    padding: $text-padding;
    font-weight: $text-head-weight;
}

p,
.p {
    font-size: $text-p-size;
    padding: $text-padding;
}

.text {
    &-softer {
        color: $secondary;
        font-weight: 400;
    }

    &-primary {
        color: $primary;
    }

    &-secondary {
        color: $secondary;
    }

    &-success {
        color: $success;
    }

    &-danger {
        color: $danger;
    }

    &-warning {
        color: $warning;
    }

    &-info {
        color: $info;
    }

    &-light {
        color: $light;
    }

    &-dark {
        color: $dark;
    }
}

.impact {
    font-size: 10rem;
    font-weight: $text-impact-weight;

    &-1 {
        font-size: 9rem;
        font-weight: $text-impact-weight;
    }
    &-2 {
        font-size: 8rem;
        font-weight: $text-impact-weight;
    }
    &-3 {
        font-size: 7rem;
        font-weight: $text-impact-weight;
    }
    &-4 {
        font-size: 6rem;
        font-weight: $text-impact-weight;
    }
    &-5 {
        font-size: 5rem;
        font-weight: $text-impact-weight;
    }
}
