// Responsive Breakpoints
$bp-phones: 40rem; // Extra small devices (phones, 600px and down)
$bp-large-phones: 60rem; // Small devices (portrait tablets and large phones, 600px and up)
$bp-tablets: 7.68rem; // Medium devices (landscape tablets, 786px and up)
$bp-md: 99.2rem; // Large devices (laptops/desktops, 992px and up)
$bp-lg: 120rem; // Extra large devices (large laptops and desktops, 1200px and up)

$cell-bp: min-content;
// Breakpoints from https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp

// Typography
$text-padding: 0.5rem 1.5rem;
$text-head-weight: bolder;

$text-h1-size: 3.2rem;
$text-h2-size: 2.4rem;
$text-h3-size: 1.872rem;
$text-h4-size: 1.6rem;
$text-h5-size: 1.328rem;
$text-h6-size: 1.072rem;

$text-p-size: 1.6rem;

$text-impact-weight: 200;

// Buttons Options
$btn-press-timing: .3s;

$btn-std-padding: 1rem 2rem;
$btn-std-margin: 1rem 1rem;

$btn-sm-padding: 0.5rem 1.5rem;
$btn-sm-margin: 0.5rem 0.5rem;

// Tables Options
$table-std-margin: 1.5rem 1.5rem;
$table-std-cell-padding: 1rem 2rem;

$table-font-size: 1.4rem;

$table-sm-cell-padding: 0.5rem 1rem;

// Caption Options
$caption-padding: 2rem;